---
import { getLegacyPage } from '../lib/legacy';
interface Props { file: string; script?: string; }
const { file, script } = Astro.props;
const { html, inlineScripts, inlineStyles } = getLegacyPage(file);
---
{inlineStyles && <style is:inline set:html={inlineStyles}></style>}
<div class="legacy-content" set:html={html}></div>
{script && <script is:inline src={script} defer></script>}
{inlineScripts && <script is:inline set:html={inlineScripts}></script>}
