
@import url("./vendor/parallax/base.css");
@import url("./vendor/parallax/hero.css");
@import url("./vendor/parallax/nav.css");
@import url("./vendor/parallax/carousel-3d.css");
@import url("./vendor/parallax/gallery.css");
@import url("./vendor/parallax/contact.css");
@import url("./vendor/parallax/footer.css");
@import url("./vendor/parallax/responsive.css");

@import url("./reset.css");
@import url("./variables.css");
@import url("./typography.css");
@import url("./layout.css");
@import url("./header.css");
@import url("./menu.css");
@import url("./buttons.css");
@import url("./carousel.css");

@import url("./pages/home.css");
@import url("./pages/collection.css");
.
