/* main.css */
@import url("./vendor/parallax/base.css");
@import url("./header.css");
@import url("./vendor/parallax/scroll.css");
@import url("./vendor/parallax/logo.css");
@import url("./vendor/parallax/hero-parallax.css");
@import url("./vendor/parallax/hero-content.css");
@import url("./vendor/parallax/sections.css");
@import url("./vendor/parallax/carousel-3d.css");
@import url("./vendor/parallax/gallery.css");
@import url("./vendor/parallax/about.css");
@import url("./vendor/parallax/contact.css");
@import url("./vendor/parallax/footer.css");
@import url("./vendor/parallax/responsive.css");

/* our overrides + multi-page utilities */
@import url("./menu.css");
@import url("./buttons.css");
@import url("./carousel.css");
@import url("./pages/home.css");
@import url("./pages/collection.css");
.