/* main.css (imports) */
@import url("./reset.css");
@import url("./variables.css");
@import url("./typography.css");
@import url("./layout.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./buttons.css");
@import url("./forms.css");
@import url("./cards.css");
@import url("./utilities.css");

/* Page-level styles */
@import url("./pages/home.css");
@import url("./pages/sos.css");
@import url("./pages/webshop.css");
@import url("./pages/reviews.css");
@import url("./pages/method.css");
@import url("./pages/collection.css");
@import url("./pages/tos.css");
@import url("./pages/faq.css");
@import url("./pages/contact.css");
@import url("./pages/story.css");

/* tiny scribble so files never get auto-cleaned: . */
.