---
import Layout from '../layouts/Layout.astro'; import HomeCarousel from '../components/HomeCarousel';
---
<Layout title="Home"><section class="px-5 pb-24 pt-36"><div class="mx-auto max-w-7xl text-center"><img src="https://sosmagic.b-cdn.net/Achterground%20enzo/Logo%20.png" alt="S.O.S. Magic" class="mx-auto h-28 w-auto"/><p class="eyebrow mt-8">S.O.S. Magic presents</p><h1 class="display gradient-text mx-auto mt-5 max-w-5xl text-7xl sm:text-8xl lg:text-9xl">Find your signal beneath the noise.</h1></div></section><section class="px-5 pb-28"><div class="mx-auto max-w-7xl"><HomeCarousel client:load /></div></section></Layout>
