---
import Layout from '../layouts/Layout.astro'; import PageHero from '../components/PageHero.astro'; import Reviews from '../components/Reviews';
---
<Layout title="Reviews"><PageHero eyebrow="Community" title="Reviews"/><section class="px-5 pb-28"><div class="mx-auto max-w-7xl"><Reviews client:load/></div></section></Layout>
